// utility classes and mixins
@mixin flex($justify, $direction) {
  display: flex;
  justify-content: $justify;
  align-content: center;
  flex-direction: $direction;
}

.container {
  max-width: 1160px;
  margin: auto;
  overflow: hidden;
}
